@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
/* Sajt je prilagodjen najbolje na full hd rezoluciji: 1920x1080 */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    outline: none;
    border: none;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6, p{
    font-weight: lighter;
}

/* Keyframes - Animista */
@-webkit-keyframes scale-up-ver-center{0%{-webkit-transform:scaleY(.4);transform:scaleY(.4)}100%{-webkit-transform:scaleY(1);transform:scaleY(1)}}@keyframes scale-up-ver-center{0%{-webkit-transform:scaleY(.4);transform:scaleY(.4)}100%{-webkit-transform:scaleY(1);transform:scaleY(1)}}
@-webkit-keyframes scale-up-hor-center{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4)}100%{-webkit-transform:scaleX(1);transform:scaleX(1)}}@keyframes scale-up-hor-center{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4)}100%{-webkit-transform:scaleX(1);transform:scaleX(1)}}
@-webkit-keyframes scale-out-horizontal{0%{-webkit-transform:scaleX(1);transform:scaleX(1);opacity:1}100%{-webkit-transform:scaleX(0);transform:scaleX(0);opacity:1}}@keyframes scale-out-horizontal{0%{-webkit-transform:scaleX(1);transform:scaleX(1);opacity:1}100%{-webkit-transform:scaleX(0);transform:scaleX(0);opacity:1}}

/* My classes and shared values */
.container, #dress-limited-edition-right hr, #form form, .dress-details{
    margin: 0px auto;
}
.container{
    width: 70%;
}
.active-link{
    color: #f8c9dd !important;
    border-bottom: 4px solid #f8c9dd !important;
}
.drop-shadow{
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 25%);
}
.mb-50{
    margin-bottom: 50px;
}
.mb-10{
    margin-bottom: 10px;
}
.pad-10{
    padding: 10px;
}
.border-10{
    border-radius: 10px;
}
.position-relative{
    position: relative;
}
.position-absolute, .top-seller-text::after{
    position: absolute;
}
.d-flex{
    display: flex;
}
.dark-overlay, .top-seller-text{ 
    width: inherit;
    height: inherit;
}
.dark-overlay{
    background-color: #000;
    opacity: 0.3;
}
.txt-center{
    text-align: center;
}
.font-tangerine{
    font-family: 'Tangerine', cursive;
}
.txt-white{
    color: #fff;
}
.txt-pink-1{
    color: #e9b4cd;
}
.txt-pink-2, #lista li a:hover, #footer-right ul li a:hover{
    color: #f8c9dd;
}
.txt-title, #form form input[type="text"], #form form input[type="email"], #form form input[type="tel"], #form form textarea{
    font-size: 12pt;
}
.txt-title, #form form input[type="submit"], #form form input[type="reset"]{
    text-transform: uppercase;
}
.txt-title{
    letter-spacing: 8px;
}
.txt-16pt, .dress-details .txt-title{
    font-size: 16pt;
}
.txt-justify{
    text-align: justify;
}
.txt-right{
    text-align: right;
}
.bg-pink-1, #form form input[type="submit"]:hover, .dress-link:hover{
    background-color: #e9b4cd;
}
.bg-pink-2{
    background-color: #f8c9dd;
}
.bg-dark{
    background-color: #252525;
}
.bg-white, .top-seller-text::after, .dress-details input[type="button"]:hover{
    background-color: #fff;
}
.bg-gray{
    background-color: #c1c1c1;
}
.fa-star{
    font-size: 22px !important;
}
#form form input[type="submit"], #form form input[type="reset"]{
    padding: 10px 15px;
    letter-spacing: 3px;
    border-radius: 5px;
}
#lista li a, .top-seller-text, #form form input[type="submit"], #form form input[type="reset"], .gallery-wrapper img, .dresses-wrapper img, .dress-details input[type="button"], .about-img, #footer-right ul li a{
    transition: 0.3s;
}
#header-text.txt-title, .img-quote, #dress-limited-edition-left, #dress-limited-edition-right, #form form, #gallery-photos, #dresses, .dresses-wrapper .d-flex{
    flex-direction: column;
}
#nav-menu .container, .dress-card-details, #top-seller-wrapper, #dress-limited-edition-wrapper, #form form div, footer .container{
    justify-content: space-between;
}
#header-image, .top-seller-text, .img-quote, #dress-limited-edition-right, .gallery-wrapper, .dresses-wrapper, .about-wrapper, #copyright{
    justify-content: center;
}
#header-image, #lista, .top-seller-text, .img-quote, .about-wrapper{
    align-items: center;
}
#header-image, .img-quote, #form form input[type="text"], #form form input[type="email"], #form form input[type="tel"], #form form textarea, #form form div{
    width: 100%;
}
#header-text, .top-seller-text, .img-quote h2, .img-quote p, .dresses-wrapper img, .container .about-wrapper:nth-child(even) .about-img{
    z-index: 99;
}
#header-image, .top-seller-img, .img-quote, .about-img{
    background-size: cover;
}
#header-image, .img-quote{
    background-attachment: fixed;
}
#top-sellers, #dress-limited-edition, #form, #gallery, #dress-shop, #about-company, #author{
    padding-top: 50px;
}
#top-sellers, #dress-limited-edition, #form, #gallery, #dress-shop{
    padding-bottom: 100px;
}
#lista li, #copyright i{
    margin-left: 15px;
}
.about-company, .dress-textile{
    background-position: 25% 45% !important;
}
.top-seller-img, .about-img:hover, .gallery-wrapper img:hover, .dresses-wrapper img:hover{
    transform: scale(1.02, 1.02);
}
.top-seller-img:hover, #form form input[type="submit"], #form form input[type="reset"], .dress-details input[type="button"]{
    cursor: pointer;
}


/* Header - navigation*/
header{
    position: sticky;
    top: 0px;
    z-index: 100;
}
#logo-img-link{
    padding-top: 7px;
}
#logo-img{
    height: 50px;
}
#lista li a{
    padding: 13px 7px;
    border-bottom: 4px solid transparent;
}
#lista li a:hover{
    border-bottom: 4px solid #f8c9dd;
}

/* Main */
/* Top seller block */
#header-image{
    height: 550px;
    background-image: url('../img/bg-image-1.jpg');
    background-position: center center;
}
#header-text{
    width: 40%;
}
#header-text.txt-title{
    letter-spacing: normal;
}
#header-text.txt-title h1{
    font-size: 45pt;
    text-transform: capitalize;
    font-weight: bold;
}
.about-company{
    background-image: url(../img/bg-image-2.jpg) !important;
    
}
.dress-textile{
    background-image: url(../img/bg-image-3.jpg) !important;
}
.fashion-walk{
    background-image: url(../img/fashion-walk.jpg) !important;
    background-position: 25% 65% !important;
}
.author-background{
    background-image: url(../img/bg-image-4.jpg) !important;
}

.top-seller-img{
    width: 20vw;
    height: 50vh;
    transition: 0.8s;
}
.top-seller-text{
    font-size: 38pt;
}
.top-seller-text::after{
    display: block;
    content: "";
    bottom: 42%;
    width: 100px;
    height: 3px;
	-webkit-animation: scale-out-horizontal 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: scale-out-horizontal 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.top-seller-img .dark-overlay{
    top: 0px;
    left: 0px;
    border-radius: inherit;
    opacity: 0;
    transition: 0.5s;
}
.top-seller-img:hover{
    transform: scale(1,1);
}
.top-seller-img:hover > .top-seller-text{
    letter-spacing: 10px;
}
.top-seller-img:hover > .top-seller-text::after{
    -webkit-animation: scale-up-hor-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-hor-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.top-seller-img:hover > .dark-overlay{
    opacity: 0.15;
}

/* Quote block */
.img-quote{
    height: 150px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
#quote-1{
    background-image: url('../img/img-quote-1.jpg');
}
#quote-2{
    background-image: url('../img/img-quote-2.jpg');
}
.img-quote h2{
    font-size: 20pt;
}

/* Dress limited edition block */
#dress-limited-edition-left, #dress-limited-edition-right{
    width: 50%;
}
#dress-limited-edition-left img{
    width: auto;
    height: 350px;
}
#dress-limited-edition-left img:first-child, #dress-limited-edition-left img:nth-child(3){
    margin-right: 10px;
}
#dress-limited-edition-right{
    margin-right: 3%;
}
#dress-limited-edition-right p, #dress-limited-edition-right hr{
    margin-bottom: 25px;
}
#dress-limited-edition-right p{
    font-size: 18pt;
}
#dress-limited-edition-right p:last-child{
    margin-bottom: 0px;
}
#dress-limited-edition-right hr{
    width: 75%;
    border-radius: 2px;
    border: 2.5px solid #f8c9dd;
}

/* Form block */
#form form{
    width: 40%;
}
#form form input[type="text"]::placeholder, #form form input[type="email"]::placeholder, #form form input[type="tel"]::placeholder, #form form textarea::placeholder{
    color: #252525;
}
#form form input[type="text"], #form form input[type="email"], #form form input[type="tel"], #form form textarea{
    border: 2px solid #f8c9dd;
}
#form form textarea{
    resize: vertical;
}
#form form input[type="submit"], #form form input[type="reset"]{
    width: 49%;
}
#form form input[type="reset"]:hover{
    background-color: #df8a8e;
}

/* Gallery block */
.gallery-wrapper img, .dresses-wrapper img{
    width: 370px;
    height: 450px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.gallery-wrapper img:nth-child(1), .dresses-wrapper .d-flex:first-child{
    margin-left: 0px;
}
.gallery-wrapper:last-child img, .dresses-wrapper:last-child img{
    margin-bottom: 0px;
}

/* Shop block */
.dresses-wrapper > .d-flex{
    margin-left: 40px;
}
.dresses-wrapper img, .dress-details{
    border: 3px solid #f8c9dd;
}
.dresses-wrapper img{
    margin-bottom: 0px;
    margin-left: 0px;
}
.dresses-wrapper .drop-shadow{
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 10%)
}
.dress-details{
    margin-bottom: 40px;
    margin-top: -3px;
    width: 90%;
    border-radius: 0px 0px 10px 10px;
}
.dresses-wrapper .dress-details:first-child{
    border-radius: 10px 10px 0px 0px;
    padding: 5px 0px;
}
.dresses-wrapper .dress-details:first-child p{
    margin-bottom: 0px;
}
.dress-details p, .dress-details input[type="button"], .about-text p{
    font-size: 14pt;
}
.dress-details p{
    margin-bottom: 5px;
}
.dress-details input[type="button"]{
    padding: 3px 0px;
    border: 3px solid transparent;
}
.dress-details input[type="button"]:hover{
    border: 3px solid #e9b4cd;
}
.dress-details:nth-child(1){
    margin-top: 0px;
    margin-bottom: -3px;
}
#stella-dress, #daisy-dress, #rosalia-dress{
    scroll-margin-top: 200px;
}

/* About block */
.about-wrapper{
    margin-bottom: 100px;
}
.about-text, .about-img{
    border: 4px solid #f8c9dd;
}
.about-text{
    width: 60%;
    padding: 20px 55px 20px 20px;
}
.about-img, .container .about-wrapper:nth-child(even) .about-text{
    margin-left: -40px;
}
.about-img{
    width: 360px;
    height: 320px;
}
.container .about-wrapper:nth-child(even){
    flex-direction: row-reverse;
}
.container .about-wrapper:nth-child(even) .about-text{
    padding: 20px 20px 20px 55px;
}
.container .about-wrapper:nth-child(even) .about-img{
    margin-left: 0px;
}

/* Author block */
#author-image{
    width: 370px;
    height: 480px;
    background-image: url(../img/author.jpg);
    background-position: center 30%;
}

/* Dresses */
#pr-1{
    background-image: url('../img/haljina-1.jpg');
}
#pr-2{
    background-image: url('../img/haljina-2.jpg');
}
#pr-3{
    background-image: url('../img/haljina-3.jpg');
}
#pr-4{
    background-image: url('../img/haljina-4.jpg');
}
#pr-5{
    background-image: url('../img/haljina-5.jpg');
}
#pr-6{
    background-image: url('../img/haljina-6.jpg');
}
#pr-7{
    background-image: url('../img/haljina-7.jpg');
}

/* About images */
#about-img-1{
    background-image: url('../img/about-image-1.jpg');
}
#about-img-2{
    background-image: url('../img/about-image-2.jpg');
}
#about-img-3{
    background-image: url('../img/about-image-3.jpg');
    background-position: 25% 20%;
}

/* Footer */
/* Footer block */
footer .container{
    padding: 20px 0px;
}
#footer-left, #footer-center, #footer-right{
    width: 30%;
}
#footer-right ul li i{
    margin-left: 10px;
}
#copyright{
    padding: 5px 0px;
    background-color: #424242;
}